@import '../variables';

.Profile{

  .Header{
    padding-left: 0;

    .navbar-brand{
      width: 300px;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &>.container{
    width: 100%;
    max-width: 100%;
    margin: 66px 0 0;
    padding: 1rem 1rem 1rem 316px;
    background-color: #edf1f5;
    min-height: calc(100vh - 240px);
  }

  .ProfileSettings{
    //margin: 66px 0 0;
    //padding-left: 300px;

    .container{
      background-color: #edf1f5;
      margin: 0;
      max-width: 100%;

      .default-profile-photo{
        width: 90px;
        height: 90px;
        justify-content: center;
        align-items: center;
        background-color: #c2c2c266;
        border-radius: .25rem;
        margin-right: 1rem;

        .ion-person{
          font-size: 4rem;
          margin-top: 1rem;
        }
      }

      form{
        max-width: 600px;
        align-self: center;
        width: 50%;
      }
    }
    .title{
      h1{
        font-weight: 100;
      }
      .d-flex{
        margin-left: 1rem;
        a{
          color: $default-font-color-black;
          &:hover{
            color: lighten($default-font-color-black, 20%);
          }
        }
      }

    }
    .btn-group{
      justify-content: center;
      align-items: flex-start;
      margin-left: auto;
      a{
        color: $default-font-color-black;
        &:hover{
          color: lighten($default-font-color-black, 20%);
        }
      }
    }

    @media (max-width: 991.98px) {
      margin: 64px 0 0;
    }
  }

  .ProfileExperts{
    //padding-left: 300px;

    .container{
      background-color: #fff;
      padding-top: 2rem;
      padding-bottom: 1rem;
      margin: 1rem 0 0;
      max-width: 100%;

      .table{

        tr{
          cursor: pointer;
          position: relative;

          &:hover{
            background-color: #e9ecef;
          }

          .collapse{
            position: relative;
            left: 0;
            bottom: 0;
          }
        }

        .btn{
          padding: 0.25rem 0.4rem;
        }
        .btn-link-danger{
          color: crimson;
          &:hover{
            color: darken(crimson, 10%);
          }
        }
      }
    }

    .list-group{

      .list-group-item{
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;

        button{
          margin-left: auto;
        }
      }
    }

    .title{
      font-size: 1.3rem;
      margin-bottom: .25rem;
      color: $default-font-color-black;
    }
    .date{
      font-size: .8rem;
      color: #b7b7b7;
    }
    .description{
      font-size: 1rem;
      color: $default-font-color-gray;
    }
    .consultation-btn{
      margin-right: 1rem;
    }
    .published-icon{
      font-size: 1rem;
    }
  }

  .MenuMore{

    .dropdown-menu{
      top: 0;
      width: 200px;
      left: -216px;
      box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.3);

      .list-group{
        .list-group-item{
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-left: 0.75rem;
          cursor: pointer;

          i{
            font-size: 1.2rem;
            margin-right: 0.75rem;
          }
          &.disabled:hover{
            background-color: inherit;
            cursor: initial;
          }
          &:hover{
            background-color: #f8f9fa;
          }
        }
      }
    }
  }

  .Loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(52, 58, 64, 0.78);
    top: 0;
    left:0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;

    span{
      background: url(../../data/images/logo-brain.svg) no-repeat center;
      background-size: contain;
      width: 300px;
      height: 300px;
      position: relative;
      margin: 0 auto;

      &:before{
        background: url(../../data/images/logo-border.svg) no-repeat center;
        background-size: contain;
        position: absolute;
        z-index: 1010;
        content: '';
        padding: 150px;
        -webkit-animation:spin 20s linear infinite;
        -moz-animation:spin 20s linear infinite;
        animation:spin 20s linear infinite;
      }
    }

    h1{
      color: #fff;
    }

    &.show{
      display: flex;
      animation-name: fadeIn;
      animation-delay: 200ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
    }
  }

  .footer{
    padding-left: 316px;
    padding-top: 3rem;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



