@import '../variables';

.Consultation{

  &>.container{
    margin: 66px 0 0;
    min-height: calc(100vh - 306px);

    @media (max-width: 991.98px) {
      margin: 64px 0 0;
    }
  }

  .consultation-interview{

    .list-group-item{
      cursor: pointer;
    }
  }

  .consultation-result{
  }

  .footer{
    padding-top: 4rem;
  }
}



