@import '../../variables';

.ExpertSettingsModal{

  &.modal{
    background-color: #3a3036b3;
    overflow-y: auto;

    &.fade.show{
      display: block;
      padding-right: 12px;
    }

    & .modal-dialog{
      min-width: 80%;
    }
  }

}
