@import '../../variables';

.EditModal{

  &.modal{
    background-color: #3a3036b3;
    overflow-y: auto;

    &.fade.show{
      display: block;
      padding-right: 12px;
    }

    & .modal-dialog{
      min-width: 80%;
    }
  }

  .table {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .color-white{
    color: white;
  }

  tbody{

    .btn-light{
      //position: absolute;
      //right: 1rem;
      //top: 50%;
      //margin-top: -19px;
    }
  }

}
