@import 'variables.scss';
$input-padding: .25rem $default-padding;

html{
  margin: 0;
  padding: 0;
  font-size: 16px;

  @media (max-width: 576px) {
    font-size: 14px;
  }

  body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Lato', 'sans-serif';
    #root{
      flex: 1;
    }
  }
}

input{
  border: $border-default;
  border-radius: $border-radius-default;
  margin-bottom: .5rem;
  padding: $input-padding;
}

.content{
  padding: .5rem $default-side-padding-lg;
}

a, a:hover{
  text-decoration: none;
}

.alert{
  position: absolute;
  z-index: 9999;
  top: 10px;
}


