@import '../variables';

.StartPage{

  .section-1{
    min-height: 600px;
    background: url(images/background.png) no-repeat right fixed;
    background-size: cover;
    margin: 66px 0 0;

    &>div{
      padding: 1rem;
    }

    div:first-child{
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .logo {
        background: url(images/logo-brain.svg) no-repeat center;
        background-size: contain;
        width: 300px;
        height: 300px;
        position: relative;
        margin: 0 auto;
      }
      .logo:before {
        background: url(images/logo-border.svg) no-repeat center;
        background-size: contain;
        position: absolute;
        z-index: 1010;
        content: '';
        padding: 150px;
        -webkit-animation:spin 20s linear infinite;
        -moz-animation:spin 20s linear infinite;
        animation:spin 20s linear infinite;
      }


    }

    .signup{
      justify-content: center;
      align-items: center;

      .card{
        padding: 1.5rem 0.5rem;
      }
      form{
        flex-direction: column;
      }

    }

    @media (max-width: 991.98px) {
      flex-direction: column;
      margin: 64px 0 0;

      &>.col{
        flex-basis: auto;
      }
    }
  }

  .section-2{
    .container{
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;


      p{
        text-justify: newspaper;
      }

      .openModal{
        margin-top: 3rem;
        margin-bottom: 1rem;
      }

      .modal{
        background-color: #2226;
      }

      .show{
        display: block;
        padding-right: 12px;
      }

    }
  }

  .section-3{
    min-height: 600px;
    padding: .5rem;
    color: white;
    background: #1e1e24 url(images/background.png) no-repeat fixed center;
    background-size: cover;
    position: relative;

    &:before{
      position: absolute;
      background-color: #ffffffb3;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.3;
    }
    &>div{
      flex-direction: column;
      justify-content: flex-end;
      padding: 3rem 2rem;
      z-index: 1010;
      &:first-of-type{
        background-color: #343a40;
        border-radius: .25rem;
      }
    }
    .form-row{
      .form-group{
        margin: 0;
      }
    }

    @media (max-width: 991.98px) {
      flex-direction: column;

      &>div:last-of-type{
        display: none !important;
      }
    }

  }

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 

.Start-contact > div{
  width: 450px;
  height: 400px;
  padding: 24px;  
  display: flex;
  flex-direction: column;;
}  
.Start-contact > div h2{
  align-self: center;
  font-size: 30px;
  font-weight: 500;
}  
.Start-contact > div button{
  align-self: center;
  margin-top: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #1e1e24;
  text-align: center;
  background-color: #92dce5;
  border: none;  
  border-radius: 5px;
  z-index: 0;
  cursor: pointer;
  padding: 8px 24px;
}  
.Start-contact > div button:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);  
}
.Start-contact > div button:before{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #779cab;
  border-radius: 5px;
  transition: height, 250ms ease;
  z-index: -1;
}
.Start-contact > div button:hover:before{
  height: 100%; 
}  
#form > div:first-of-type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-inputs{
  /* + */
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
#form > div > .contact-inputs:first-of-type{
  margin-right: 16px;
}  
#form > div > .contact-inputs input {
  width: 190px; 
  padding: 4px 8px;   
  background-color: inherit;
  border:0;
  border-bottom: 2px solid #404e5c;
  border-radius: 5px;
  color: #92dce5;
}  
.contact-inputs input, .contact-inputs textarea{
  padding: 4px 8px;   
  background-color: inherit;
  border:0;
  border-bottom: 2px solid #404e5c;
  border-radius: 5px;
  color: #92dce5;
} 
.contact-inputs textarea{
  resize: vertical;
  height: 100px;
  max-height: 300px;
} 


/*Buttons*/
#signUpBtn{
  /* + */
  position: relative;
  display: flex;
  justify-content: center;
  padding: 12px;
  margin-top: 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #1e1e24;
  text-align: center;
  background-color: #92dce5;
  border: none;  
  border-radius: 5px;
  z-index: 0;
  cursor: pointer;
}
#signUpBtn:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#signUpBtn:before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #779cab;
    border-radius: 5px;
    transition: height, 250ms ease;
    z-index: -1;
}
#signUpBtn:hover:before{
    height: 100%;
}  

#about{
  /* + */
  border-right: 2px solid #404e5c;
}
#contact{
  /* + */
  border-right: 2px solid #404e5c;
}

@media screen and (max-width: 1080px) {
  .Start-content{
    flex-direction: column;
    justify-content: flex-start;
    padding: 5% 15%;
  }
  .Start-signUpDiv{
    max-width: 310px;
    margin: 0 auto;
  }
  .Start-contentBody{
    /* + */
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .Start-contentBody-logo {
    margin-bottom: 16px;
  }
  .header{
    width: device-width;
    padding: 8px 5% 8px 5%;
  }
  .header-btns{
    font-size: 14px;
  }
}
@media screen and (max-width: 720px) {
  .Start-signUpDiv{
    min-width: 0;
    background-color: inherit;
    box-shadow: 0 0 0 0;
    padding: 0;
  }
  .Start-content{
    padding: 5% 16px 150px 16px;
  }
  .header{
    width: device-width;
    padding: 8px 8px;
  }
  .header-logo-title{
    display: none;
  }
  .header-btns{
    font-size: 12px;
  }
  .Start-about-versionDiv{
    width: 200px;
  }
}











*:focus {outline:none !important;}
*::-moz-focus-inner {
  border: 0 !important;
}
*:active {
  outline: none !important;
}

