@import '../variables';

.StartPage{
  .container{
    padding: 0 3rem;
  }
  .section-1{
    min-height: 600px;
    background: url(../../data/images/background.png) no-repeat fixed 0 60px;
    background-size: cover;
    margin: 66px 0 0;

    .container{
      .logo {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
          background: url(../../data/images/logo-brain.svg) no-repeat center;
          background-size: contain;
          width: 300px;
          height: 300px;
          position: relative;
          margin: 0 auto;

          &:before{
            background: url(../../data/images/logo-border.svg) no-repeat center;
            background-size: contain;
            position: absolute;
            z-index: 1010;
            content: '';
            padding: 150px;
            -webkit-animation:spin 20s linear infinite;
            -moz-animation:spin 20s linear infinite;
            animation:spin 20s linear infinite;
          }
        }
      }
      .banner-text{
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .btn{
          font-size: 1.7rem;
          background-color: #ffffff1a;
          border-color: #ffffff1a;
          padding: 1rem;

          &:hover{
            background-color: #fff3;
            border-color: #ffffff80;
          }
          &:first-of-type{
            margin-top: -3rem;
          }
        }
      }
    }

    .openModal{
      color: #FFF6;
      position: absolute;
      top: calc(.5rem + 66px);
      right: .5rem;
    }
    .modal{
      background-color: #2226;
    }
    .show{
      display: block;
      padding-right: 12px;
    }

    @media (max-width: 991.98px) {
      flex-direction: column;
      margin: 64px 0 0;
    }
  }

  .section-2{
    .container{
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;

      p{
        text-justify: newspaper;
      }

      .card-block{
        .top-icons{
          justify-content: center;
        }
        .rounded-circle{
          background: linear-gradient(#982f46, #3878a3);
          width: 130px;
          height: 130px;
          justify-content: center;
          align-items: center;
        }
        h4{
          margin-top: 1rem;
        }
      }

    }
  }

  .section-3{

    .container{
      &>h2{
        font-size: 3rem;
      }
      .cards{
        justify-content: space-around;

        .card{
          width: 21rem;
        }

        @media (max-width: $sm) {

        }
        @media (max-width: $md) {

        }

      }



    }
  }

  .section-4{
    min-height: 600px;
    color: white;
    background: url(../../data/images/background.png) no-repeat fixed center;
    background-size: cover;
    position: relative;

    &:before{
      position: absolute;
      background-color: #ff2626e6;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.3;
    }

    .container{
      &>.row>div{
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        z-index: 1010;

        &:first-of-type{
          justify-content: center;
          align-items: center;
          form{
            max-width: 25rem;
            max-height: 31rem;
            background-color: #343a40;
            border-radius: .25rem;
            padding: 3rem 2rem;
          }
        }
      }

      .form-row{
        .form-group{
          margin: 0;
        }
      }
    }


    @media (max-width: 991.98px) {
      .container{
        &>div{
          flex-direction: column;
          &>div:first-of-type{
            margin-bottom: -54rem;
          }
        }
      }
    }

  }

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 

*:focus {outline:none !important;}
*::-moz-focus-inner {
  border: 0 !important;
}
*:active {
  outline: none !important;
}

