body, html{
  margin: 0;
  padding: 0;
}
body{
  /*background-color: #263238;*/
  /*background: url(../images/background.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.Start{
  /*width: 100vw;*/
  width: device-width;
  height: calc(100vh-66px);
  min-height: 550px;
  background-color: #263238;
  position: relative;
  z-index: 1;
}
/*Header*/
#Start-header{
  width: device-width;
  padding: 8px 15% 8px 15%;
  background-color: #333333;
  box-shadow: 1px 1px 10px 0 black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:relative;
  z-index: 2;
}
.Start-header-logo{
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.Start-header-logo:active{
  background-color: white;
}
.Start-header-logo:visited{
  background-color: white;
}
.Start-header-logo-img{
  background-image: url(../images/app_logo_round.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}
.Start-header-logo-title{
  color: #e0e0e0;
  margin:0 0 0 0.5em;
  font-size: 30px;
  display: flex;
  align-items: center;
}

/*Content*/
.Start-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 15% 50px 15%;
}
.Start-contentBody{
  width: 700px;
  color: white;
  font-size: 24px;
  margin-right: 50px;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.Start-contentBody-div1{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Start-contentBody-logo {
  background-image: url(../images/app_logo_round.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.Start-contentBody-text1{
  margin: 0 0 16px 0;
}
.Start-contentBody-text2{
  margin: 0 0 16px 0;
}
.Start-contentBody p:last-of-type{
  width: 100%;
  font-size: 20px;
  text-align: left;
}

/*signUpDiv*/
.Start-signUpDiv{
  min-width: 310px;
  height: 290px;
  padding: 30px;
  background-color: #333333;
  box-shadow: 1px 3px 5px 1px black;
  margin: 0;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
.Start-signUpDiv-form{
  display: flex;
  flex-direction: column;
}
.Start-signUpDiv-labels{
  color: white;
  text-align: left;
  padding: 4px;
}
.Start-signUpDiv-inputs{
  padding: 8px;
  margin-bottom: 8px;
}
.Start-signUpDiv-inputs:last-of-type{
  padding: 8px;
  margin-bottom: 0;
}
.Start-signUpDiv p{
  color: white;
  font-size: 10px;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 8px;

}

.Start-signUpDiv-720{
  display: none;
}



/*Buttons*/
#signUpBtn{
  background-color: #e0e0e0;
  border: 0;
  font-weight: bold;
  color: #263238;
  border-radius: 3px;
  margin-top: 16px;
  padding: 12px;
}
#signInBtn{
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}
#signOutBtn{
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}
#addExpertBtn{
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  padding: 0;
  font-size: 20px;
  color: white;
  width: 50px;
  height:50px;
  margin-right: 8px;
}
#profileBtn{
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: white;
  font-weight: bold;
  padding: 0;
  height:50px;
  margin-left: 24px;
  font-size: 18px;
}
#homeBtn{
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  color: white;
  font-weight: bold;
  padding: 0;
}
#signInBtn:hover, #signUpBtn:hover, #signOutBtn:hover,
#addExpertBtn:hover, #profileBtn:hover, #homeBtn:hover{
  cursor: pointer;
}


@media screen and (max-width: 720px) {
  .Start-signUpDiv{
    display: none;
  }
  .Start-signUpDiv{}



}
@media screen and (max-width: 1080px) {
  .Start-content{
    flex-direction: column;
    justify-content: flex-start;
    padding: 5% 15%;
  }
  .Start-signUpDiv{
    max-width: 310px;
    margin: 0 auto;
  }
  .Start-contentBody{
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .Start-contentBody-logo {
    margin-bottom: 16px;
  }
}
