body, html{
  margin: 0;
  padding: 0;
}
body{
  /*background-color: #263238;*/
  /*background: url(../images/background.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.Start{
  /*width: 100vw;*/
  width: device-width;
  height: calc(100vh-66px);
  min-height: 550px;
  background-color: #3c485e;
  position: relative;
  z-index: 1;
}
/*Header*/
.header{
  width: device-width;
  padding: 8px 15% 8px 15%;
  background-color: #2d323b;
  box-shadow: 1px 1px 10px 0 black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:relative;
  z-index: 2;
}
.header-logo{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: white;
  padding: 0 4px;
}
.header-logo-img{
  background-image: url(../images/logo.svg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}
.header-logo-title{
  color: #e0e0e0;
  margin:0 0 0 0.5em;
  font-size: 30px;
  display: flex;
  align-items: center;
}

/*Content*/
.Start-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 15% 50px 15%;
}
.Start-contentBody{
  width: 700px;
  color: white;
  font-size: 24px;
  margin-right: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Start-contentBody-div1{
  display: flex;
  flex-direction: column;
}
.Start-contentBody-logo {
  background-image: url(../images/icon-center.svg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 300px;
  height: 300px;
  position: relative;  
  margin: 0 auto;
}
.Start-contentBody-logo:before {
  background-image: url(../images/icon-border.svg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  z-index: -1;
  content: '';
  padding: 150px;
  -webkit-animation:spin 20s linear infinite;
  -moz-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
} 
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } 

.Start-contentBody-text1{
  margin: 0 0 16px 0;
}
.Start-contentBody-text2{
  margin: 0 0 16px 0;
}
.Start-contentBody p:last-of-type{
  width: 100%;
  font-size: 20px;
  text-align: left;
}

/*signUpDiv*/
.Start-signUpDiv{
  min-width: 310px;
  height: 290px;
  padding: 30px;
  background-color: #2d323b;
  box-shadow: 1px 1px 2px 1px black;
  margin: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.Start-signUpDiv-form{
  display: flex;
  flex-direction: column;
}
.Start-signUpDiv-labels{
  color: white;
  text-align: left;
  padding: 4px;
}
.Start-signUpDiv-inputs{
  padding: 8px;
  margin-bottom: 8px;
}
.Start-signUpDiv-inputs:last-of-type{
  padding: 8px;
  margin-bottom: 0;
}
.Start-signUpDiv p{
  color: white;
  font-size: 11px;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 8px;

}

.Start-signUpDiv-720{
  display: none;
}



/*Buttons*/
#signUpBtn{
  background-color: #2ecc71;
  border: solid 1px #2ecc71;
  color: white;
  border-radius: 5px;
  margin-top: 16px;
  padding: 12px;
  font-size: 20px;
}
#signInBtn{
  height: 50px;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 4px;
}

#signInBtn:hover{
  cursor: pointer;
}
#signUpBtn:hover{
  background-color: #e0e0e0;
  color: #2ecc71;
  cursor: pointer;
  border: solid 1px white;
}



@media screen and (max-width: 1080px) {
  .Start-content{
    flex-direction: column;
    justify-content: flex-start;
    padding: 5% 15%;
  }
  .Start-signUpDiv{
    max-width: 310px;
    margin: 0 auto;
  }
  .Start-contentBody{
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .Start-contentBody-logo {
    margin-bottom: 16px;
  }
  .header{
    width: device-width;
    padding: 8px 5% 8px 5%;
  }
}
@media screen and (max-width: 720px) {
  .Start-signUpDiv{
    min-width: 0;
    background-color: inherit;
    box-shadow: 0 0 0 0;
    padding: 0;
  }

  .Start-content{
    padding: 5% 16px 150px 16px;
  }
  .header{
    width: device-width;
    padding: 8px 8px;
  }

}
