.clear { clear: both; }
/*Header*/
.header-left{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.header-right{
  display: flex;
  flex-direction: row;
}
.header-userName{
  height: 50px;
  margin-left: 50px;
  align-items: center;
  font-size: 24px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 0;
  padding: 0 8px;
}
.signOutBtn{
  height: 50px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0 8px;
}

/*Content*/
.Home{
  /*width: 100vw;*/
  width: device-width;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.Home-content{
  /*background-color: #e0e0e0;*/
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 15% 50px 15%;
}
/*Experts*/
.Home-content-experts{
  min-width: 400px;
  height: auto;
  min-height: 296px;
  border: solid 1px #989898;
  border-radius: 5px;
}
.content-experts-header{
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*height: 40px;*/
  border-bottom: solid 1px #989898;
}
.experts-header-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 0 16px;
  height: 40px;
  /*border-bottom: solid 1px #989898;*/
}
.experts-header-find{
  padding: 0 16px 0 16px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
}
.experts-header-find input{
  width: 100%;
}
.content-experts-header h3{
  display: flex;
  align-items: center;
  margin: 0;
}
.addExpertBtn{
  background-color: #2ecc71;
  color: white;
  border: solid 1px #2ecc71;
  border-radius: 5px;
  padding: 6px 10px;
  text-decoration: none;
}
.addExpertBtn:hover{
  background-color: white;
  color: #2ecc71;
  cursor: pointer;
  border: solid 1px #989898;
}
.content-experts-listItems{
  list-style-type: none;
  padding: 8px 16px;
  border-bottom: solid 1px #989898;
}
.content-experts-list{
  padding: 0;
  margin: 0;
}


/*Content body*/
.Home-content-body{
  width: 100%;
  min-width: 400px;
  padding-right: 5%;
}
.content-body-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}
.content-body-header-text1{
  background-color: inherit;
  display: flex;
  align-items: center;
  border: solid 1px #989898;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 40px;
  padding: 0 8px;
}
.content-body-header-text2{
  background-color: inherit;
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 0;
  height: 40px;
  padding: 0 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content-body-header-text1 h3, .content-body-header-text2 h3{
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.content-body{
  border-top: solid 1px #989898;

}
.content-body-header-text1:hover, .content-body-header-text2:hover{
  cursor: pointer;
  background-color: #e0e0e0;
}

/*Expert Room*/
.header-expertRoom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border: solid 1px #989898;
  border-radius: 5px;
}
.header-expertRoom-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
.header-expertRoom-btns button{
  background-color: inherit;
  display: flex;
  align-items: center;
  border: 0;
  border-left: solid 1px #989898;
  border-bottom: 0;
  height: 40px;
  padding: 0 8px;
}
.header-expertRoom-btns button:hover{
  cursor: pointer;
  background-color: #e0e0e0;
}
.header-expertRoom-btns button h3{
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header-expertRoom-expertName{
  padding: 0 8px;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
}
.expertRoom-body{
  padding: 0 8px;
}

@media screen and (max-width: 1080px) {
  .Home-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 5% 50px 5%;
  }
  .Home-content-experts{
    order: 1;
    margin-bottom: 24px;
    min-width: 300px;
  }
  .Home-content-body{
    order: 2;
    min-width: 300px;
  }
  .header-userName{
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .Home-content{
    padding: 24px 8px 50px 8px;
  }
}
