body, html{
  margin: 0;
  padding: 0;
}
#root{
  background-color: rgb(55, 181, 244);
}
header{
  
  background-color: rgb(51, 51, 51);
  height: 50px;
  color: white;
  font-size: 34;
  text-align: center;
  padding: 20px;
  box-shadow: 1px 1px 25px 0 black;
}
h1{
  margin: 0;
}
#mainDiv{
  display: flex;
  width: 300px;
  padding: 30px;
  background-color: rgb(51, 51, 51);
  margin: 10% auto;
  flex-direction: column;
  box-shadow: 1px 3px 35px 1px black;
}

#newExpertBtn{
  margin: 8px;
  height: 30px;
  background-color: #e0e0e0;
  border: 0;
  font-weight: bold;
  color: #546e7a;
}

#startConsultBtn{
  margin: 8px;
  height: 30px;
  background-color: #e0e0e0;
  border: 0;
  font-weight: bold;
  color: #546e7a;
}
