@import '../variables';

$bg-color-gray: darken(#fff, 5%);
.Experts{

  .section-1{
    margin: 66px 0 0;
    padding: 40px 0;
    background: url(../../data/images/background.png) no-repeat right fixed;
    background-size: cover;
    color: #f8f9fa;
    .container{

      .input-group{

        .cancel-btn{
          margin-left: -40px;
          z-index: 1;
          color: #9c9c9c;
          border: 0;
          background-color: transparent;

          &:hover{
            background-color: transparent;
            color: $default-font-color-black;
          }
          &:focus{
            box-shadow: unset;
          }
        }

        button{
          background-color: #fff3;
          &:hover{
            background-color: #ffffffb3;
          }
        }
      }

    }

    @media (max-width: 991.98px) {
      margin: 64px 0 0;
    }
  }

  .section-2{
    min-height: calc(100vh - 240px);
    background-color: $bg-color-gray;

    .list-group{

      .list-group-item{
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;

        button{
          margin-left: auto;
        }
      }
    }

    .title{
      font-size: 1.3rem;
      margin-bottom: .25rem;
      color: $default-font-color-black;
    }
    .date{
      font-size: .8rem;
      color: #b7b7b7;
    }
    .description{
      font-size: 1rem;
      color: $default-font-color-gray;
    }
    .consultation-btn{
      margin-right: 1rem;
    }


    .expert-container{
      background: #fff;
      border-radius: 5px;
      box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
      font-weight: 300;
      margin: 1rem auto;
      width: 80%;
      border: 0;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      a{
        transition: .25s ease;
      }

      .expert-header{

        .expert-author{
          margin: 0 auto;
          padding-top: .125rem;
          width: 80%;

          h3 {
            a{
              color: lighten(#333, 40%);
              font-weight: 100;
              font-size: 1.5rem;
              &:hover {
                border-color: #6c3255;
                color: #6c3255;
              }
            }

            &::before{
              //background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/russ.jpeg");
              //background-size: cover;
              //border-radius: 50%;
              //content: " ";
              //display: inline-block;
              //height: 32px;
              //margin-right: .5rem;
              //position: relative;
              //top: 8px;
              //width: 32px;
            }
          }
          i{
            $color-top: lighten(#982f46, 15%);
            $color-bottom: lighten(#3878a3, 15%);

            border-radius: 50%;
            display: flex;
            height: 32px;
            margin-right: .5rem;
            position: relative;
            top: 6px;
            width: 32px;
            //background-color: lighten(#982f46, 50%);
            background: linear-gradient($color-top, $color-bottom);
            color: white;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
          }
        }
      }

      .expert-body {
        margin: 0 auto;
        width: 80%;

        .expert-title h1 a {
          color: #333;
          font-weight: 100;
          font-size: 1.5rem;
          &:hover {
            border-color: #6c3255;
            color: #6c3255;
          }
        }
        .expert-summary {
          p {
            color: lighten(#333, 10%);
            max-height: 95px;
            overflow: hidden;
          }
          hr{
            box-shadow: 0 -19px 8px 5px #fff;
            z-index: 1;
            margin-top: 0;
            position: relative;
            border: 0;
          }
        }

      }

      .expert-footer {
        border-top: 1px solid lighten(#333, 70%);
        margin: 0 auto;
        padding-bottom: .125rem;
        width: 80%;

        ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-end;
          padding-left: 0;
          padding-top: 0.5rem;

          li {
            color: lighten(#333, 40%);
            font-size: .75rem;
            height: 1.5rem;
            letter-spacing: 1px;
            line-height: 1.5rem;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            white-space: nowrap;

            & + li {
              //margin-left: .5rem;
            }

            i{
              font-size: 1rem;
            }
            .ion-chatbox{
              font-size: .75rem;
              margin-right: 2px;
            }

            &:first-child {
              margin-right: auto;
            }
            .numero {
              font-size: 1rem;
            }
            &.comments {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }

  .PaginationHelper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    background-color: $bg-color-gray;
  }

  .section-3{
    background-color: $bg-color-gray;
    padding-bottom: 3rem;

    .container{
      align-items: center;
      width: 600px;
      box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.5);
      background-color: white;

      a{
        height: 50px;
        font-size: 1.5rem;
        background-color: transparent;
        border: 0;

        &:hover{
          background-color: transparent;
          border: 0;
        }
      }

      &:hover{
        a{
          animation-name: move;
          animation-duration: 350ms;
        }
      }

    }
  }
}

@keyframes move {
  0%   {transform: translate(0, 0);}
  25%  {}
  50%  {transform: translate(10px, 0);}
  75%  {}
  100% {transform: translate(0, 0);}
}



